@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-color-1 text-primary-dark;
    overflow-x: hidden;
  }
}

@layer components {
  .container-custom {
    @apply w-full max-w-7xl mx-auto px-5;
  }
}
